body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
}

#controls, #recorder {
    margin-top: 20px;
}

li {
    list-style-type: none;
}

#audioContainer li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

span {
    margin-right: 10px;
}